<section id="viewComments">
    <app-post-info
      *ngIf="(post$ | async) as post" 
      [post]="post"
      [desc]="post.description"
    >
    </app-post-info>
  <div class="post post-content">    
    <app-comment-create
      *ngIf="(post$ | async) as post"     
      [postId]="post._id"
      (postCommentEmitter)="postComment($event)"
    >
    </app-comment-create>
  </div>
  <ng-template [ngIf]="comments">
    <article *ngFor="let commentInfo of comments" class="post post-content">
      <p>{{commentInfo['content']}}</p>
      <div class="info">
        submitted by {{commentInfo['author']}} |
        <button *ngIf="isAuthor(commentInfo)" (click)="deleteComment(commentInfo['_id'])" class="deleteLink">
          delete
        </button>
      </div>
    </article>
  </ng-template>
</section>