*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: var(--font-size-body, 14px)/1.5 Georgia, serif;
}

@media (min-width: 600px) {
    html { font-size: var(--font-size-body-larger, 16px) }
}

@media (min-width: 1024px) {
    html { font-size: var(--font-size-body-big, 18px) }
}

@media (min-width: 1600px) {
    html { font-size: var(--font-size-body-huge, 20px) }
}

body, table, form, select, option, input, textarea {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

h1 { font-size: var(--font-size-h1, 2.6em); }
h2 { font-size: var(--font-size-h2, 2.0em); }
h3 { font-size: var(--font-size-h3, 1.8em); }
h4 { font-size: var(--font-size-h4, 1.4em); }
h5 { font-size: var(--font-size-h5, 1.2em); }
h6 { font-size: var(--font-size-h6, 1em); }

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

blockquote {
    padding: 1rem;
    font-style: italic;
    text-align: right;
    opacity: 0.5; 
}

blockquote:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.5em;
}