<form action="#/login" method="post" class="needs-validation" novalidate>
  <fieldset>
    <legend>Login</legend>
    <p class="field">
      <label for="username">Username</label>
      <span class="input">
        <input type="text" name="username" id="username" placeholder="Username" minlength="3" class="form-control"
          required />
        <span class="actions"></span>
        <i class="fas fa-user"></i>
    </p>
    <p class="field">
      <label for="password">Password</label>
      <span class="input">
        <input type="password" name="password" id="password" placeholder="Password" minlength="6" class="form-control"
          required />
        <span class="actions"></span>
        <i class="fas fa-key"></i>
      </span>
    </p>
    <input class="button" type="submit" class="submit" value="Login" />
  </fieldset>
</form>