{{!-- <div id="login">
  {{> loginForm }}
  {{> validatorForm }}
</div> --}}

{{> header }}

<section id="viewLogin">
  <h2>Login to your account:</h2>

  {{> loginForm }}
  {{> validatorForm }}
</section>

{{> footer }}