<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Registration Form</h1>
      <form #form="ngForm" (submit)="register(form)">
        <pre>{{ form.value | json }}</pre>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input ngModel name="fullName" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.fullName.touched && form.controls.fullName.errors?.required">
            This field is required!
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input ngModel name="email" class="form-control" placeholder="Email Address" type="email" required>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
            <option value="{{number}}" *ngFor="let number of phoneNumbers">{{number}}</option>
          </select>
          <input ngModel name="phoneNumber" class="form-control" placeholder="Phone number" type="text" required>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select ngModel name="jobTitle" class="form-control">
          </select>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input ngModel name="password" class="form-control" placeholder="Create password" type="password" required>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input ngModel name="confirmedPassword" class="form-control" placeholder="Repeat password" type="password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
        </div>
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>