{{> header }}

<div id="car-listings">
  <h1>Car Listings</h1>

  <div id="listings">
    {{#each cars }}
    {{> car }}
    {{/each}}

    {{#if noCarsFound }}
    <p class="no-cars">No cars in database.</p>
    {{/if}}
  </div>
</div>

{{> footer }}