<h1>Welcome to Messenger</h1>

{{#if currentUser}}
<form action="/threads/find" method="POST" class="form center-form">
    <div class="form-group">
        <input name="username" placeholder="username" class="input-field search" />
        <button class="btn btn-search">Search</button>
    </div>
</form>
{{/if}}

{{#if isAdmin}}
    {{#each threads}}
    <h1>Threads</h1>
    <div class="threads-list">
        <div class="thread">
            <form action="/threads/remove/{{{id}}}" method="POST">
                <h4>
                    {{#each users}}
                        {{username}} 
                    {{/each}}
                </h4>
                <p>{{dateCreated}}</p>
                <button class="btn">Delete</button>
            </form>
        </div>
    </div>
    {{/each}}
{{/if}}