<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
        </ul>
    </nav>
</header>